/* Responsive */
@media only screen and (max-width:2560px) and (min-width:1101px){
#outer-wrapper{box-shadow: 0 0 24px 0 #3F00FF;margin-top:30px;margin-bottom:30px;}
}
@media only screen and (max-width:1100px) and (min-width:981px){
.tl-midheader .main-header{float:none;display:block;margin-bottom:25px;}
.post-share ul li{margin-bottom:5px;}
}
@media only screen and (max-width:980px){
.tl-midheader .main-header{float:none;display:block;margin-bottom:25px;}
.dropdown-trigger{display:block;}
li.nav-rec,li.nav-big{display:none;}
.main-navigation,.dropdown-trigger{height:40px;line-height:40px;}
.top-inner h3 {font-size: 14px;}
.static-trigger{display:inline-block;}
.DropDownNavigation{height:350px;overflow:auto;}
.home-top-left.owl-carousel.owl-theme,.home-top-left .top-inner{height:250px;}
.home-col-1 .home-col-1-top,.home-col-1 .home-col-1-bottom,.home-col-2>div{height:185px;}
.home-top-right,.home-col-1,.home-col-2{height:365px;}
.home-top-left.owl-carousel.owl-theme{margin-bottom:2px;}
.home-col-2-bottom{padding-bottom:0;}
.home-top-left .top-inner{margin-right:0;}
.home-top-right,.home-top-left.owl-carousel.owl-theme{width:100%;float:none;}
nav ul{background:#232323;}
nav>ul>li{display:inline;}
nav>ul>li>a{padding-left:25px;line-height:50px;color:#FFF;}
nav>ul>li.submenu>ul,nav>ul>li.submenu>ul>li.submenu2>ul{width:100%;}
.megamenu-inner ul{float:none;width:100%;background:#353535;margin:0;}
nav ul li.submenu2>a:after{content:'\f0d7';}
.megamenu-inner ul li a{border:none;}
nav>ul>li.submenu>a,nav>ul>li.nav-rec>a,nav>ul>li.megamenu>a,nav>ul>li.nav-big>a{padding-right:40px;padding-left:25px;}
li.homelink a{padding-left:25px;padding-top:5px;}
.DropDownNavigation,.navigation .widget-content,nav>ul>li ul a:before,nav>ul>li.nav-rec>a:after,nav>ul>li.nav-big>a:after{display:none;}
.dropdown ul{width:100%;display:block;position:static;float:none;margin:0}.megamenu-items h4{color:#3F00FF;margin-top:10px;}li.submenu.choose-cat{display:none}nav h3{display:none!important}nav ul:before,nav ul:after{content:'';display:none}nav>ul>li.submenu>ul,nav>ul>li.submenu>ul>li.submenu2>ul,nav div.nav-post-list,li.megamenu .megamenu-inner{position:static;visibility:visible;opacity:1;padding:0;background:transparent;margin-bottom:25px;}nav>ul>li ul a{background:#353535;color:#fff;border:none}nav>ul>li:hover{background:transparent}.dropdown ul li .nav-post-list{display:none}.dropdown ul li{float:none}.dropdown ul li a{display:block;padding:10px;color:#fff;line-height:normal;}.nav-item{display:none}nav ul ul{padding:0px 20px!important}nav ul ul ul{padding:25px  0px 0px 0px!important}nav div.nav-post-list,li.megamenu .megamenu-inner{border:none}.rotator-outer container{padding:0 5px}.rotator-outer .container h3{margin:5px 0;padding:0}.main-inner,.sidebar,.home-left,.home-right,.tl-footer-wrap .footer-sec{width:100%!important;float:none!important;height:auto!important}.navigation-button.active{color:#3F00FF}.navigation .widget-content{position:absolute;left:0;top:32px;display:none}.navigation ul li{margin:0;float:none;max-width:250px;z-index:999;position:relative}.navigation ul li a{display:block;padding:0px 0px 0px 20px;width:150px;text-align:left;background:#3F00FF;}.navigation ul li:last-child{margin-right:0}
div#main-wrapper,#sidebar-wrapper,.top-n-bot-L,.top-n-bot-R{width:100%;float:none;}
.tl-footer-cols .pull-left,.branding-content .pull-left,.branding-content .pull-right{float:none;}
.tl-copyright.pull-left{text-align:center;width:100%;float:none;}
.col-bl{width:100%;margin-bottom:20px;}
.sidebar-inner{padding:0 25px;}
.post-share ul li{margin-bottom:5px;}
li.nav-simple,.tl-footer-nav.pull-right{display:none;}
.colc.pull-left,.colc2.pull-right,.col3,.col-br{width:100%;}
}
@media only screen and (max-width:767px){
.home-post-title{font-size: 14px;}
.g-img-o.home-post-image{margin-bottom: 10px;}
.topnav-block {width: 80%;}
div#Socialicons {float:none;display:inline-block;}
.col-seprate.half-cols,.col-seprate.half-cole,.home-post,.g-home-top .up .container,.g-home-top .down .container{width:100%;float:none;}
.g-home-top .up,.g-home-top .down,.g-home-top .up .container{height:auto;}
.home-col-1,.home-col-2,.home-col-3{height:auto;width:100%!important;}
.home-col-1-bottom {padding-bottom: 2px;}
.home-col-1-top,.home-col-2-top,.home-col-2-mid{padding:0 0 2px;}
.home-col-1-bottom,.home-col-2-bottom{padding-right:0;}
.simple-strip,.g-img-o.home-post-image,.g-img-o.home-post-image img{width:100%!important;}
.left-headline,.simple-cards-inner .simple-cards,.side-content{float:none!important;width:100%!important;}
.left-headline .container{margin-right:0;}
.right-headline{width:100%!important;margin-top:25px;}
.header-labels a{margin-top:10px!important;}
.wide-img-outer{margin-bottom:2px;}
.about-logo img{float:none;margin-right:0;}
.about-text p{margin:10px 0;}
.gal-append h2{font-weight:500;text-transform:none;font-size:15px!important;margin:0 0 10px;}
.gal-append .meta{font-size:12px;}
.gal-append{margin:5px 10px 0;}
.gal-content img{margin-bottom:12px!important;object-fit:cover;height:200px;width:100%;margin:0;}
.subscribe-widget{padding:25px;}
input.email-field{width:100%;margin-bottom:10px;}
input.email-button{display:block;width:100%;}
a#Blog1_blog-pager-newer-link{margin-bottom:10px;}
a#Blog1_blog-pager-newer-link,a#Blog1_blog-pager-older-link{width:100%;}
.auth-profiles .list-inline li{margin-bottom:5px;}
h1.post-title{font-size:20px;font-weight:500;line-height:25px;text-transform:none;}
span.shareit{display:none!important;}
}
@media only screen and (max-width:479px){
a#Blog1_blog-pager-older-link img {float: left;margin:0px 10px 0px 0px;}
a#Blog1_blog-pager-older-link {float: left;text-align: left;}
.comment-tabs h4 span {display: none;}
.comment-buttons {float: left;}
.comment-tabs > h4 {border:none;height:20px;}
.search-content,.trendy-search{width:auto;margin:0px 25px}
.search-content{height:350px;}
.simple-card-content p{max-height:none;}
.home-top-left .top-inner h3{font-size:16px;}
h1.post-title{font-size:16px;font-weight:500;line-height:20px;text-transform:none;}
.form-promo h3{font-size:14px;}
.about-author img{float:none;}
.author-profile{position:relative;margin:3px 0 15px;}
.comments .comments-content .comment-replies,.comments .comments-content .inline-thread{margin-left:0;}
.f-menu-l{float:none;width:100%;}
.recent-ticker,.footer-contct i{display:none;}
}
@media only screen and (max-width:329px){
.also-read {display: none;}
}